<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Login</h1>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            {% if session.get('is_admin') == 'True' %}
                <a href="{{ url_for('admin') }}">Admin</a>
            {% else %}
            {% if session.get('username') %}
                <a href="{{ url_for('booking') }}">Book</a>
            {% endif %}               
            {% endif %}
            {% if session.get('username') %}
                <a href="{{ url_for('logout') }}">Logout ({{ session.get('username') }})</a>
            {% else %}
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('register') }}">Register</a>
            {% endif %}
        </nav>
    </header>
    <main class="login-container">
        <h1>Login</h1>
        <form action="{{ url_for('login') }}" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <div id="password">
                <input type="password" name="password" id="pwd" required>
                <span style="cursor: pointer;" id="sh" onclick="showhide()">show</span>
            </div>

            <button type="submit">Login</button>
        </form>
    </main>
    <footer>
        <p>Contact us: info@footballturf.com</p>
    </footer>


    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>